.f0
{
    font-family: "Arial Narrow","Helvetica Narrow","Arial","Helvetica",sans-serif;
    font-size: 10pt;
    font-weight: normal;
}
.f1
{
    font-family: "Times New Roman","Times Roman","Times",serif;
    font-size: 14pt;
    font-weight: bold;
}
.f2
{
    font-family: "Times New Roman","Times Roman","Times",serif;
    font-size: 12pt;
    font-weight: normal;
}
.f3
{
    font-family: "Arial Narrow","Helvetica Narrow","Arial","Helvetica",sans-serif;
    font-size: 12pt;
    font-style: italic;
    font-weight: normal;
}
.f4
{
    font-family: "Times New Roman","Times Roman","Times",serif;
    font-size: 11pt;
    font-weight: bold;
}
.f5
{
    font-family: "Times New Roman","Times Roman","Times",serif;
    font-size: 11pt;
    font-style: italic;
    font-weight: bold;
}
.f6
{
    font-family: "Arial Narrow","Helvetica Narrow","Arial","Helvetica",sans-serif;
    font-size: 11pt;
    font-weight: normal;
}
.f7
{
    font-family: "Times New Roman","Times Roman","Times",serif;
    font-size: 10pt;
    font-weight: normal;
}
.f8
{
    font-family: "Times New Roman","Times Roman","Times",serif;
    font-size: 10pt;
    font-style: italic;
    font-weight: normal;
}
.f9
{
    font-family: "Arial Narrow","Helvetica Narrow","Arial","Helvetica",sans-serif;
    font-size: 4pt;
    font-weight: normal;
}
.f10
{
    font-family: "Times New Roman","Times Roman","Times",serif;
    font-size: 11pt;
    font-weight: normal;
}
.f11
{
    font-family: "Times New Roman","Times Roman","Times",serif;
    font-size: 12pt;
    font-style: italic;
    font-weight: normal;
}
.f12
{
    font-family: "Arial Narrow","Helvetica Narrow","Arial","Helvetica",sans-serif;
    font-size: 8pt;
    font-weight: bold;
}
